* {
    font-family: helvetica;
    box-sizing: border-box;
}

#controls {
    float: left;
}

.description {
    float: left;
    width: 250px;
}

.output {
    clear: left;
    width: 400px;
}

#output_text {
    border: solid grey 1px;
    padding: 20px;
    margin-bottom: 30px;;
}

#output_pic {
    border: solid grey 1px;
    padding: 10px;
}

#all_content {
    margin-left: 10%;
}

header {
    background-color: #89ABE3FF;
    margin-top: -20px;
    padding-left: 10%;;
}

#main_topic {
    color: #FCF6F5FF;
}

#button {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: left;
}
